<div class="login">
  <div class="input">
    <div class="input__container">
      {{input type="text" value=username placeholder="username"}}
    </div>
    <div class="input__button">
      <a {{ action 'loginUser' }}>Login</a>
    </div>
  </div>
</div>